html, body{
    width: 100%;
    height: 100%;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(220, 239, 255);
}

.display-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
}

/*時計*/
.clock{
    position: relative;
    width: 240px;
    height: 240px;
    min-width: 240px;
    background-color: white;
    border: solid 2px rgb(63, 63, 63); 
    border-radius: 50%;
}

#h{
    position: absolute;
    top: calc(50% - 70px + 5px);
    left: calc(50% - 8px / 2);
    width: 8px;
    height: 70px;
    background-color: rgb(167, 167, 167);
    transform-origin: 50% calc(70px - 5px);
}

#m{
    position: absolute;
    top: calc(50% - 100px + 10px);
    left: calc(50% - 6px / 2);
    width: 6px;
    height: 100px;
    background-color: rgb(112, 112, 112);
    transform-origin: 50% calc(100px - 10px);
}

#s{
    position: absolute;
    top: calc(50% - 130px + 20px);
    left: calc(50% - 4px / 2);
    width: 4px;
    height: 130px;
    background-color: rgb(63, 63, 63);
    transform-origin: 50% calc(130px - 20px);
}

#center-point{
    position: absolute;
    top: calc(50% - 10px / 2);
    left: calc(50% - 10px / 2);
    width: 10px;
    height: 10px;
    background-color: rgb(63, 63, 63);
    border-radius: 50%;
}

@for $i from 1 through 12{
    #scale#{$i}{
        position: absolute;
        top: 6px;
        left: calc(120px - 2px);
        width: 4px;
        height: 15px;
        background-color: rgb(112, 112, 112);
        transform: rotate(calc(30deg * (#{$i} - 1)));
        transform-origin: 50% calc(120px - 6px);
    }
}
/**/

#disp-now-date{
    font-size: 64px;
    color: rgb(63, 63, 63);
    text-shadow: 4px 4px 1px rgba(37, 38, 43, 0.3);
}